.add-todays-pairs{
  display: flex;
  justify-content: space-around;
}

.developer {
  display:flex;
  flex-direction: column;
}

.initials-circle{
  border: 1px solid grey;
  border-radius: 2em;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  text-align: center;
  width: 2em;

  /* Hope this works LOL */
  -webkit-animation-timing-function:linear;
  -webkit-animation-duration:1s;
  animation-fill-mode: forwards;
}

.blueBackground {
  -webkit-animation-name: blueBackgroundAnimation;
}

.greenBackground {
  -webkit-animation-name: greenBackgroundAnimation;
}

@keyframes blueBackgroundAnimation {
  0%{
    background-color: rgba(0,0,255,0);
  }
  50% {
    background-color: rgba(0,0,255,0.2);
  }
  100% {
    background-color: rgba(0,0,255,0.4);
  }
}

@keyframes greenBackgroundAnimation {
  0%{
    background-color: rgba(0,255,0,0);
  }
  50% {
    background-color: rgba(0,255,0,0.2);
  }
  100% {
    background-color: rgba(0,255,0,0.4);
  }
}
