<div *ngIf='team.pairs.length === 3; else addPairs'>
  <h5>{{team.teamName}}</h5>
</div>
<ng-template #addPairs>
  <button (click)='show = !show'> Add {{team.teamName}}'s pairs</button>
  <div *ngIf='show'>
    <div class='add-todays-pairs'>
      <ng-template ngFor [ngForOf]='team.members' let-name>
        <span class='developer' (click)='setPair(name)'>
          <div class='initials-circle' [ngClass]='backgroundColor'>
            {{getInitials(name)}}
          </div>
          {{name}}
        </span>
      </ng-template>
    </div>
  </div>
</ng-template>
